.hero {
    position: relative;
    height: calc(100vh - 32px);
    background-repeat: no-repeat;
    background-position: 62% top;
    background-size: cover;
    @include media-breakpoint-up(md) {
        background-position: center top;
    }
    @include media-breakpoint-up(xxl) {
        //height: 768px;
    }
    @include media-breakpoint-up(xxxl) {
        //height: 1080px;
    }

    @include before() {
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        content: '';
        height: 260px;
        position: absolute;
        pointer-events: none;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%);

        @include media-breakpoint-up(xxxl) {
            height: 260px;
        }
    }

    @include after() {
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        content: '';
        height: 270px;
        position: absolute;
        pointer-events: none;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%);

        @include media-breakpoint-up(xxxl) {
            height: 500px;
        }
    }

    .hero-inner {
        z-index: 3;
        position: relative;
        .hero-title {
			letter-spacing: -0.01em;
            line-height: 0.95;
            margin: 0 auto 66px auto;
            max-width: 1370px;
            padding: 0 1.25rem;
        }
        .hero-btn  {

        }
    }
}

.hero {}
.hero .hero-inner {}
.hero .hero-inner .hero-title {}
.hero .hero-inner .hero-btn {}
